{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes ingrédients{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
 <div class="m-4">
    {% if not ingredients is same as ([]) %}

     <h1>Mes ingrédients</h1>
        <a href="{{ path('ingredient.new') }}" class="btn btn-primary">
            Ajouter un ingrédient
        </a>
     <div class="count mt-4">
       Il y a {{ ingredients.getTotalItemCount }} ingrédients au total.
     </div>
     <table class="table table-hover">
         <thead>
         <tr>
             <th scope="col">Numéro</th>
             <th scope="col">Nom</th>
             <th scope="col">Prix</th>
             <th scope="col">Date de création</th>
         </tr>
         </thead>
         <tbody>
         {% for ingredient in ingredients %}
             {% if loop.index is odd %}
         <tr class="table-primary">
                    {% elseif loop.index is even %}
                         <tr class="table-danger">
                    {% endif %}
             <th scope="row">{{ ingredient.id }}</th>
             <td>{{ ingredient.name }}</td>
             <td>{{ ingredient.price }}</td>
             <td>{{ ingredient.createdAt | date("d/m/Y") }}</td>
             <td>
                 <a class="btn btn-info" href="{{ path('ingredient.edit', {id: ingredient.id}) }}">Editer
                 </a>
             </td>
             <td>
                 <a class="btn btn-danger" href="{{ path('ingredient.delete', {id: ingredient.id}) }}">Supprimer
             </td>
         </tr>

         {% endfor %}
         </tbody>
     </table>
        <div class="navigation m-4 d-flex justify-content-center">
            {{ knp_pagination_render(ingredients) }}
        </div>
    {% else %}
        <h1>Il n'y a pas d'ingrédients</h1>
    {% endif %}
 </div>

{% endblock %}
